<% include part_admin_head %>
	<% if(locals.images.length > 0){ %>
		<div class="col-lg-6 col-lg-offset-2 col-sm-8 col-sm-1 col-xs-12">
	<% }else{ %>
		<div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-1 col-xs-12">		
	<% } %>
		<div class="card">
			<h1>Update gallery</h1>
			<form method="POST" action="/admin/set/update_gallery/<%= gallery.showcase_id %>">
				<div class="form-group">
					<label for="title">Title</label>
					<input id="title" class="form-control" type="text" name="title" value="<%= gallery.title %>">
				</div>
				<div class="form-group">
					<label for="about">About</label>
					<textarea id="about" class="form-control"><%= gallery.about %></textarea>
					<input type="text" id="aboutshadow" style="display:none;" id="about" name="about" value="<%= gallery.about %>">
				</div>
				<div class="form-group">
					<label for="location">Location</label>
					<input id="location" class="form-control" type="text" name="location" value="<%= gallery.location %>">
				</div>
				<div class="form-group">
					<label for="price">Price</label>
					<input id="price" class="form-control" type="text" name="price" value="<%= gallery.price %>">
				</div>
				<div class="form-group">
					<label for="filter">Category</label>
					<select id="filter" class="form-control" type="text" name="filter_id" value="<%= gallery.filter_id %>">
						<option value="none">None</option>
						<% filters.forEach(function(filter){ %>
							<option value="<%= filter.filter_id %>" <%= (filter.filter_id==gallery.filter_id)? 'selected="selected"':'' %> ><%= filter.type %></option>
						<%	}); %>
					</select>
				</div>
				<div class="form-group">
					<input class="form-control btn btn-default" type="submit" value="Update">
				</div>
			</form>
			<form method="POST" action="/admin/set/delete_gallery/<%= gallery.showcase_id %>">
				<div class="form-group">
					<input class="form-control btn btn-danger" type="submit" value="Delete">
				</div>
			</form>
		</div>
		<div class="card">
			<form method="POST" action="/admin/set/add_images/<%= gallery.showcase_id %>" accept-charset="UTF-8" enctype="multipart/form-data">
				<div class="form-group">
					<input type="file" name="img" multiple>
				</div>
				<div class="form-group">
					<input class="form-control btn btn-default" type="submit" value="Upload">
				</div>
			</form>
		</div>
	</div>
	<div class="col-sm-2 col-xs-2">
		<% images.forEach(function(image){ %>
			<div class="col-sm-6 col-xs-6">
				<div class="card">
					<form class="delete-image" action="/admin/set/delete_image/<%= image.image_id %>?si=<%= gallery.showcase_id %>" method="POST">
						<button>X</button>
					</form>
					<img src="<%= image.image_url %>">
				</div>
			</div>
		<% }); %>
	</div>
	<style type="text/css">
		img{
			width: 100%;	
		}
		.delete-image{
			position: absolute;
			right: 15px;
			top: 10px;
		}
		.delete-image button{
			background: transparent;
			border:0px;
			font-size: 2em;
			color: white;
			font-weight: bold;
			text-shadow:black 0 0 5px;
		}
	</style>
<% include part_foot %>