<% include part_admin_head %>

	<% gallery.forEach(function(gallery_entity){ %>
		<a href="/admin/gallery/<%= gallery_entity.showcase_id %>">
			<div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
				<div class="card">
					<h1><%= gallery_entity.title %></h1>
					<p><%= gallery_entity.about %></p>
					<p><%= gallery_entity.price %></p>
					<p><%= gallery_entity.location %></p>
					<p><%= gallery_entity.filter_type %></p>
				</div>
			</div>
		</a>
	<%	}); %>
	<div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
		<div class="card">
			<h1>Add gallery Entry</h1>
			<form method="POST" action="/admin/set/new_gallery">
				<div class="form-group">
					<label for="title">Title</label>
					<input id="title" class="form-control" type="text" name="title">
				</div>
				<div class="form-group">
					<label for="about">About</label>
					<textarea id="about" class="form-control"></textarea>
					<input type="text" id="aboutshadow" style="display:none;" id="about" name="about">
				</div>
				<div class="form-group">
					<label for="location">Location</label>
					<input id="location" class="form-control" type="text" name="location">
				</div>
				<div class="form-group">
					<label for="price">Price</label>
					<input id="price" class="form-control" type="text" name="price">
				</div>
				<div class="form-group">
					<label for="filter">Category</label>
					<select id="filter" class="form-control" type="text" name="filter_id">
						<option value="none">None</option>
						<% filters.forEach(function(filter){ %>
							<option value="<%= filter.filter_id %>"><%= filter.type %></option>
						<%	}); %>
					</select>
				</div>
				<div class="form-group">
					<input class="form-control" type="submit" value="Add">
				</div>
			</form>
		</div>
	</div>
<% include part_foot %>