<% include part_admin_head %>

	<% gallery.forEach(function(gallery_entity){ %>
		<div class="gallery-admin">
			<img src="" style="height:100%" src="<%= gallery.img_url %>">
			<h1><%= gallery_entity.title %></h1>
			<p><%= gallery_entity.about %></p>
		</div>
	<%	}); %>
	<div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
		<div class="card">
			<h1>Add gallery Entry</h1>
			<form method="POST" action="/admin/set/new_gallery">
				<div class="form-group">
					<label for="gallery-title">Title</label>
					<input id="gallery-title" class="form-control" type="text" name="gallery-title">
				</div>
				<div class="form-group">
					<label for="gallery-about">About</label>
					<textarea id="gallery-about" class="form-control"></textarea>
					<input type="text" style="display:none;" id="gallery-about" name="gallery-about">
				</div>
				<div class="form-group">
					<label for="gallery-location">Location</label>
					<input id="gallery-location" class="form-control" type="text" name="gallery-location">
				</div>
				<div class="form-group">
					<label for="gallery-price">Price</label>
					<input id="gallery-price" class="form-control" type="text" name="gallery-price">
				</div>
				<div class="form-group">
					<label for="gallery-filter">Category</label>
					<select id="gallery-filter" class="form-control" type="text" name="gallery-filter">
						<option value="none">None</option>
						<% filters.forEach(function(filter){ %>
							<option value="<%= filter.filter_id %>"><%= filter_type %></option>
						<%	}); %>
					</select>
				</div>
				<div class="form-group">
					<input class="form-control" type="submit" value="Add">
				</div>
			</form>
		</div>
	</div>
<% include part_foot %>