<%= include part_user_head %>
	<div class="container visible-md visible-lg">
	   <div id="content-slider">
		  <div id="slider" class="card">
			<div id="mask">
				<ul>
					<% for(var i = 0; i < 5; i++){ %>
						<li id="id-<%= i %>" class="animation<%= i +1%>">
						<a href="#">
						 	<img src="<%= images[i%images.length].image_url %>">
					 	</a>
					</li>
					<% } %>
				</ul>
			</div>
			<div class="progress-bar"></div>
		  </div>
	   </div>
	</div>
	<div class="visible-sm visible-xs col-sm-10 col-sm-offset-1 col-xs-12">
		<div class="card">
			<img src="<%= images[0].image_url %>">
		</div>
	</div>
	<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
		<div class="card">
			Content
		</div>
	</div>

	<style>
		@import url("/stylesheets/reset.css") screen;
		@import url("/stylesheets/animation.css") screen;

		/* Common */
		html, body {
			background:#eaeaea url(../img/bg.png) repeat;
			font-size:12px;
			font-family:"Open Sans", serif;
			margin:0;
			padding:0;
			color:#aaa;
		}

		.content h1 {
			font-size:48px;
			color:#000;
			text-shadow:0px 1px 1px #f4f4f4;
			text-align:center;
			padding:60px 0 30px;	
		}

		/* LAYOUT */
		.container {
			margin:0 auto;
			overflow:hidden;
			width:960px;
		}

		/* CONTENT SLIDER */
		#content-slider {
			width:100%;
			height:360px;
			margin:10px auto 0;
		}
		/* SLIDER */
		#slider {
			background:#000;
			width:680px;
			margin:40px auto 0;
			overflow:visible;
			position:relative;

			border:solid 10px white;
			background: #eef;
			padding: 5px;
			box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
			margin-bottom: 10px;
		}
		#mask {
			overflow:hidden;
			height:320px;
		}
		#slider ul {
			margin:0;
			padding:0;
			position:relative;
		}
		#slider li {
			width:680px;
			height:320px;
			position:absolute;
			right:685px;
			list-style:none;
		}

		#slider li.animation1 {
			-moz-animation:cycle 25s linear infinite;	
			-webkit-animation:cycle 25s linear infinite;		
		}
		#slider li.animation2 {
			-moz-animation:cycletwo 25s linear infinite;
			-webkit-animation:cycletwo 25s linear infinite;		
		}
		#slider li.animation3 {
			-moz-animation:cyclethree 25s linear infinite;
			-webkit-animation:cyclethree 25s linear infinite;		
		}
		#slider li.animation4 {
			-moz-animation:cyclefour 25s linear infinite;
			-webkit-animation:cyclefour 25s linear infinite;		
		}
		#slider li.animation5 {
			-moz-animation:cyclefive 25s linear infinite;
			-webkit-animation:cyclefive 25s linear infinite;		
		}

		#slider .tooltip {
			background:rgba(0,0,0,0.7);
			width:300px;
			height:60px;
			position:relative;
			bottom:75px;
			left:-320px;
			-moz-transition:all 0.3s ease-in-out;
			-webkit-transition:all 0.3s ease-in-out;  
		}
		#slider .tooltip h1 {
			color:#fff;
			font-size:24px;
			font-weight:300;
			line-height:60px;
			padding:0 0 0 20px;
		}
		#slider li#id-1:hover .tooltip, 
		#slider li#id-2:hover .tooltip, 
		#slider li#id-3:hover .tooltip, 
		#slider li#id-4:hover .tooltip, 
		#slider li#id-5:hover .tooltip {
			left:0px;
		}
		#slider:hover li, 
		#slider:hover .progress-bar {
			-moz-animation-play-state:paused;
			-webkit-animation-play-state:paused;
		}

		/* PROGRESS BAR */
		.progress-bar { 
			position:relative;
			top:-5px;
			width:680px; 
			height:5px;
			background:#000;
			-moz-animation:fullexpand 25s ease-out infinite;
			-webkit-animation:fullexpand 25s ease-out infinite;
		}
	</style>
<%= include part_foot %>