<%= include part_user_head %>
	<div class="container visible-md visible-lg">
	   <div id="content-slider">
		  <div id="slider" class="card">
			<div id="mask">
				<ul>
					<% for(var i = 0; i < 5; i++){ %>
						<li id="id-<%= i %>" class="animation<%= i +1%>">
						<a href="#">
						 	<img src="<%= images[i%images.length].image_url %>">
					 	</a>
					</li>
					<% } %>
				</ul>
			</div>
			<div class="progress-bar"></div>
		  </div>
	   </div>
	</div>
	<div class="visible-sm visible-xs col-sm-10 col-sm-offset-1 col-xs-12">
		<div class="card">
			<img src="<%= images[0].image_url %>">
		</div>
	</div>
	<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
		<div class="card">
			
			<span style="float:right;margin-right:10px;margin-top:0.5em;" class="gallery-location"><a href="#more-images">More Images</a></span>

			<span class="gallery-title"><%= gallery.title %></span>
			<span class="gallery-location hidden-xs"><%= gallery.location %></span>
			<br class="visible-xs">
			<span class="gallery-location visible-xs" style="margin-left:10px;"><%= gallery.location %></span>
			<br>
			<span class="gallery-price-label">Category:&nbsp;</span>
			<span class="gallery-price"><%= gallery.type %></span>
			<br>
			<span class="gallery-price-label">Full Price:&nbsp;</span>
			<span class="gallery-price">$<%= gallery.price %></span>
			<br>
			<p class="gallery-about"><%= gallery.about %></p>
			
		</div>
	</div>
	<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
		<%- comments %>		
	</div>
	<div id="more-images" class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
		<% images.forEach(function(image){ %>		
			<div class=" col-md-3 col-sm-4 col-xs-6">
				<div class="card">
					<img class="more-image" src="<%= image.image_url %>">
				</div>
			</div>
		<% }); %>
	</div>
	<div id="full-screen" style="display:none;">
		<div id="full-screen-img" class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-12"></div>
	</div>
	<script>
		$(document).ready(function(){
			$(".more-image").on("click", function(){
				$("#full-screen-img").css("background-image", "url("+$(this).attr("src")+")");
				$("#full-screen").show(0);
			});
			$("#full-screen-img").on("click", function(e){
				var $this = $(this),
					image = new Image();

				image.onload = function(){
					var thisH = image.height / image.width * $this.height(); 
					if(e.offsetY > thisH){
						$("#full-screen").hide(0);
					}
				}
				image.src = $this.css("background-image").replace("url(", "").replace(")", "");

				return false;
			});
			$("#full-screen").on("click", function(){
				$("#full-screen").hide(0);
			});
			$(window).on("keyup", function(e){
				if(e.keyCode == 27)
					$("#full-screen").hide(0);
			});
			$(".comment-reply-button").on("click", replyClick);
		})
		var replyClick = function(){
			parent = $($(this).parent());
			parent_id = parent.attr("comment-id");
			$(this).remove();
			parent.append($(
				"<form action='/admin/set/add_comment/"+parent_id+"?si=<%= gallery.showcase_id %>' method='POST'>"+
					"<input type='text' placeholder='Display Name' name='name'>"+
					"<input type='text' placeholder='Email (non-disclosed)' name='email'>"+
					"<textarea id='comment-on-"+parent_id+"'></textarea>"+
					"<input type='text' style='display:none;' id='comment-on-"+parent_id+"shadow' name='text'>"+
					"<button type='submit'>Sumbit</button>"+
					"<button type='button'>Cancel</button>"+
				"</form>"	
			));
			$("textarea").on("input propertychange", function(){
				$("#"+$(this).attr("id")+"shadow").val($(this).val());
			});
			$("button[type='button']").on("click", function(e){
				e.preventDefault();
				$($($(this).parent()).parent()).append($("<button class='comment-reply-button'>Reply</button>"));
				$($(this).parent()).remove();
				$(".comment-reply-button").on("click", replyClick);
			});
		}
	</script>
	<style>
		@import url("/stylesheets/animation.css") screen;

		.content h1 {
			font-size:48px;
			color:#000;
			text-shadow:0px 1px 1px #f4f4f4;
			text-align:center;
			padding:60px 0 30px;	
		}

		/* LAYOUT */
		.container {
			margin:0 auto;
			overflow:hidden;
			width:960px;
		}

		/* CONTENT SLIDER */
		#content-slider {
			width:100%;
			height:360px;
			margin:10px auto 0;
		}
		/* SLIDER */
		#slider {
			background:#000;
			width:680px;
			margin:40px auto 0;
			overflow:visible;
			position:relative;

			border:solid 10px white;
			background: #eef;
			padding: 5px;
			box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
			margin-bottom: 10px;
		}
		#mask {
			overflow:hidden;
			height:320px;
		}
		#slider ul {
			margin:0;
			padding:0;
			position:relative;
		}
		#slider li {
			width:680px;
			height:320px;
			position:absolute;
			right:685px;
			list-style:none;
		}

		#slider li.animation1 {
			-moz-animation:cycle 25s linear infinite;	
			-webkit-animation:cycle 25s linear infinite;		
		}
		#slider li.animation2 {
			-moz-animation:cycletwo 25s linear infinite;
			-webkit-animation:cycletwo 25s linear infinite;		
		}
		#slider li.animation3 {
			-moz-animation:cyclethree 25s linear infinite;
			-webkit-animation:cyclethree 25s linear infinite;		
		}
		#slider li.animation4 {
			-moz-animation:cyclefour 25s linear infinite;
			-webkit-animation:cyclefour 25s linear infinite;		
		}
		#slider li.animation5 {
			-moz-animation:cyclefive 25s linear infinite;
			-webkit-animation:cyclefive 25s linear infinite;		
		}

		#slider .tooltip {
			background:rgba(0,0,0,0.7);
			width:300px;
			height:60px;
			position:relative;
			bottom:75px;
			left:-320px;
			-moz-transition:all 0.3s ease-in-out;
			-webkit-transition:all 0.3s ease-in-out;  
		}
		#slider .tooltip h1 {
			color:#fff;
			font-size:24px;
			font-weight:300;
			line-height:60px;
			padding:0 0 0 20px;
		}
		#slider li#id-1:hover .tooltip, 
		#slider li#id-2:hover .tooltip, 
		#slider li#id-3:hover .tooltip, 
		#slider li#id-4:hover .tooltip, 
		#slider li#id-5:hover .tooltip {
			left:0px;
		}
		#slider:hover li, 
		#slider:hover .progress-bar {
			-moz-animation-play-state:paused;
			-webkit-animation-play-state:paused;
		}

		/* PROGRESS BAR */
		.progress-bar { 
			position:relative;
			top:-5px;
			width:680px; 
			height:5px;
			background:#000;
			-moz-animation:fullexpand 25s ease-out infinite;
			-webkit-animation:fullexpand 25s ease-out infinite;
		}


		.gallery-title{
			font-size: 3em;
			padding-left: 10px;
		}
		.gallery-location{
			font-size: 2em;
			color: #666;
		}
		.gallery-about{
			font-size: 1em;
			padding: 10px;
			text-align:justify;
		}
		.gallery-price-label{
			padding-left: 10px;
			padding-right: 10px;
		}
		#full-screen{
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;left: 0;right: 0;bottom: 0;
			background: rgba(0,0,0,0.5);
			padding: 5%;
		}
		#full-screen-img{
			height: 100%;
			background-size: contain;
			background-repeat: no-repeat;
		}
	</style>
<%= include part_foot %>