<%= include part_user_head %>
	<div class="row col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1"  style="padding-left:10px; padding-right:10px;">
		<div class="card">
			<% if(photos.length>1) {%>
				<div id="slides">
					<a href="#" class="slidesjs-previous slidesjs-navigation"><span class="glyphicon glyphicon-chevron-left"></span></a>
						<% photos.forEach(function(image) { %>
							<img  src="<%= image.image_url %>">
						<% }); %>

					<a href="#" class="slidesjs-next slidesjs-navigation">
						<span class="glyphicon glyphicon-chevron-right">
						</span>
					</a>
				</div>
			<% } %>
			<% if(photos.length==1){ %>
				<img src="<%= photos[0].image_url %>">
			<% } %>
		</div>
	</div>
	<div class="row col-md-8 col-md-offset-2">
		<div class=" col-md-3 ">
			<div class="card to-show">
				<% photos.forEach(function(image) { %>
					<div style="position:relative;">
						<img class="to-show-img" src="<%= image.image_url %>">
						<span class="to-show-desc" style="position:absolute;bottom:3px;background:rgba(0,0,0,0.7);width:100%;color:white;overflow:hidden;padding:3px;"><%= image.title %></span>
					</div>
				<% }); %>
			</div>
		</div>
		<div class="col-md-9 ">
			<div class="card">
				<h1>Hurst Carpentry LLC.</h1>
				<p><%= settings.main %></p>
			</div>
			<div class="card">
				<h1>Free Estimate</h1>
				<form class="basic-grey" action="make_estimate" method="post" accept-charset="utf-8">
					<div class="col-md-5">
						<input type="email" name="email" value="" placeholder="Email Address">
						<input type="text" name="type" placeholder="Type of work">
					</div>
					<div class="col-md-5">
						<input type="text" name="name" value="" placeholder="Name">
						<input type="text" name="location" value="" placeholder="Location">
					</div>
					<div class="col-md-12">
						<textarea id="estimate"></textarea>
					</div>
					<input id="estimateshadow" type="text" name="description" style="display:none;" placeholder="Description">
					<div class="col-md-4 col-md-offset-8">
						<button type="submit">Submit</button>
					</div>
					<div class="clearfix">
						
					</div>
				</form>
			</div>
			<div class="card">
				<h1>Contact</h1>
				<h2>Available by Phone at:</h2>
				<h3><%= settings.contact.phone %></h3>
				<p>Hours: 9-5 weekdays</p>
				<h2>Available by Email at:</h2>
				<h3><%= settings.contact.email %></h3>
				<p>Please allow up to one business day for a response</p>
			</div>
		</div>
	</div>

	<script>
		$(document).ready(function(){
			$('#slides').slidesjs({
				width: 940,
				height: 528,
				navigation:false
			});
		});
	</script>

<%= include part_foot %>